<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BugMapper">


    <resultMap id="BugResult" type="com.example.demo.bean.dto.Bug">
        <result property="id" column="BUG_ID"/>
        <result property="description" column="BUG_DESCRIPTION"/>
        <result property="rca" column="BUG_RCA"/>
        <result property="solution" column="BUG_SOLUTION"/>
        <result property="creationdt" column="BUG_CREATIONDT"/>
        <result property="updatedt" column="BUG_UPDATEDT"/>
        <result property="creationuid" column="BUG_CREATIONUID"/>
        <result property="updateuid" column="BUG_UPDATEUID"/>
    </resultMap>

    <select id="getBugByid" resultMap="BugResult">
           SELECT BUG_ID,BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_CREATIONDT,BUG_UPDATEDT,
           BUG_CREATIONUID,BUG_UPDATEUID
          FROM BBUG WHERE BUG_ID =#{id}
 </select>


    <select id="getBugs" resultMap="BugResult">
          SELECT BUG_ID,BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_CREATIONDT,BUG_UPDATEDT,
          BUG_CREATIONUID,BUG_UPDATEUID
          FROM BBUG
</select>


    <select id="getBugsByPage" parameterType="com.example.demo.bean.po.Page" resultMap="BugResult">
          SELECT BUG_ID,BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_CREATIONDT,BUG_UPDATEDT,
          BUG_CREATIONUID,BUG_UPDATEUID
          FROM BBUG order by BUG_ID desc limit #{starter}, #{pageSize}
</select>


    <select id="getBugsByPageByConditions" parameterType="com.example.demo.bean.dto.BugSearchRequest" resultMap="BugResult">
        SELECT BUG_ID,BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_CREATIONDT,BUG_UPDATEDT,
        BUG_CREATIONUID,BUG_UPDATEUID FROM BBUG where 1=1
        <if test = "pname!= null"> and BUG_PROJECT_ID = #{pname} </if>
        <if test = "crnum!= null">and BUG_CR_NUM = #{crnum} </if>
        <if test = "tasknum!=null">and BUG_TASK_NUM = #{tasknum} </if>
        <if test = "developer!=null">and BUG_ASSIGNEE_ID = #{developer} </if>
        <if test = "tester!= null">and BUG_TESTER_ID = #{tester} </if>
        order by BUG_ID desc limit #{starter}, #{pageSize}
    </select>

    <select id="countAll" resultType="int">
     SELECT count(*) FROM BBUG where BUG_DELETED_FLAG=0
	</select>

    <insert id="insert" parameterType="com.example.demo.bean.dto.Bug">
        INSERT INTO BBUG
(BUG_PROJECT_ID,BUG_CR_TYPE_ID,BUG_CR_NUM,BUG_TASK_NUM,BUG_TYPE_ID,
BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_ASSIGNEE_ID,BUG_TESTER_ID,
BUG_CREATIONDT,BUG_UPDATEDT,BUG_STATUS_ID,BUG_CREATIONUID,BUG_UPDATEUID)
VALUES (4, 2, #{crnum,jdbcType=LONGVARCHAR}, #{tasknum,jdbcType=LONGVARCHAR}, 4,
 #{description,jdbcType=LONGVARCHAR},  #{rca,jdbcType=LONGVARCHAR},  #{solution,jdbcType=LONGVARCHAR}, 3, 8,
#{creationdt,jdbcType=LONGVARCHAR}, #{updatedt,jdbcType=LONGVARCHAR}, 1,#{creationuid,jdbcType=LONGVARCHAR},#{updateuid,jdbcType=LONGVARCHAR});
    </insert>


    <update id="updateById" parameterType="com.example.demo.bean.dto.Bug">
        update BBUG set BUG_PROJECT_ID = #{pname}
,BUG_CR_TYPE_ID = #{crname}
,BUG_CR_NUM = #{crnum,jdbcType=LONGVARCHAR}
,BUG_TASK_NUM = #{tasknum,jdbcType=LONGVARCHAR}
,BUG_TYPE_ID = #{oname}
,BUG_DESCRIPTION = #{description,jdbcType=LONGVARCHAR}
,BUG_RCA = #{rca,jdbcType=LONGVARCHAR}
,BUG_SOLUTION = #{solution,jdbcType=LONGVARCHAR}
,BUG_ASSIGNEE_ID = #{developer}
,BUG_TESTER_ID = #{tester}
,BUG_UPDATEDT = #{updatedt,jdbcType=LONGVARCHAR}
,BUG_UPDATEUID = #{updateuid,jdbcType=LONGVARCHAR}
,BUG_STATUS_ID = #{bugStatus}
where bug_id = #{id}
    </update>


</mapper>
