<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BugMapper">


    <resultMap id="BugStatusResult" type="com.example.demo.bean.dto.BugStatus">
        <result property="id" column="STATUS_ID"/>
        <result property="bugStatus" column="STATUS_DES"/>
    </resultMap>

    <select id="getBugStatusByid" resultMap="BugStatusResult">
           SELECT STATUS_ID,STATUS_DES FROM RBUGSTATUS WHERE STATUS_ID =#{id}
 </select>


    <select id="getBugStatus" resultMap="BugStatusResult">
         SELECT STATUS_ID,STATUS_DES FROM RBUGSTATUS
</select>


</mapper>